{% extends "base.html" %}

{% block cuerpo %}

{% if form.errors %}
  <p>Ingresó una contraseña incorrecta. Vuelva a intentar.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Su cuenta no tiene acceso a esta página. Vuelva a intentar con un usuario autorizado.</p>
  {% else %}
    <p>Por favor ingrese con usuario con los permisos adecuados.</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>

<tr>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</tr>

<tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">¿Perdió su contraseña?</a></p>

{% endblock %}